<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>合戦リバーシ</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div id="app">
  <div class="board">
    <template v-for="(row, i) in board">
      <cell v-for="(stone, j) in row" :id="i * 8 + j" :stone="stone" @put="put"></cell>
    </template>
  </div>
  <panel :turn="turn" :count="count" @change-turn="changeTurn"></panel>
</div>
<script src="https://unpkg.com/vue@next"></script>
<script src="app.js"></script>
</body>
</html>